body,ul,li,p{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
	float: left;
}

a{
	text-decoration: none;
}

.musica{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*顶部*/
.top1{
	width: 100%;
	height: 320px;
	background: url(../img/bg1.jpg) no-repeat center;
	
}

.top1-main{
	width: 1094px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
}

.top1-img1{
	display: inline-block;
	margin: 0 auto;
	margin-top: 110px;
	margin-bottom: 23px;
	width: 1094px;
	height: 21px;
	background: url(../img/hd_title.png) no-repeat center;
	
}

.top1-img2{
	display: inline-block;
	margin: 0 auto;
	margin-top: 0px;
	width: 1094px;
	height: 209px;
	background: url(../img/qq_music_hao.png) no-repeat center;
	
}

.login{
	float: right;
	color: #FFF;
	margin-top: 30px;
	font-size: 14px;
}

.login:hover{
	color: #31C27C;
}

.top2{
	width: 100%;
	height: 359px;
	background: url(../img/bg2.jpg) no-repeat center;
	
}

.top2-main{
	width: 280px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
}

.onlock{
	margin-top: 132px;
	width: 280px;
	height: 61px;
	background-color: #00F3B1;
	color: #000;
	border: 0;
	border-radius: 50px;
	font-size: 23px;
	font-family: "微软雅黑";
	font-weight: 500;
}

.onlock:hover{
	color: #FFF;
	cursor: pointer;
	border: 0;
}

/*模块一*/
.main{
	width: 1094px;
	margin-left: auto;
	margin-right: auto;
}

.main-content{
	width: 1094px;
	height: 621px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}

.main-img1{
	float: left;
	width: 446px;
	height: 500px;
	margin-top: 72px;
	background: url(../img/circle.png) no-repeat;
	position: relative;
}

.mobile1{
	position: absolute;
	top: -72px;
	left: 72px;
	display: none;
}

.mobile1-content1{
	position: absolute;
	top: 8px;
	left: 104px;
	display: none;
}

.mobile1-content2{
	position: absolute;
	top: 8px;
	left: 245px;
	display: none;
}

.main-word1{
	float: right;
	width: 460px;
	height: 242px;
	margin-top: 60px;
	display: none;
}

.main-title{
	font-size: 40px;
	font-weight: 400;
	color: #333333;
}

.main-title2{
	color: #333333;
	margin-bottom: 40px;
}


.item{
	width: 112px;
	height: 84px;
	border-right: 1px solid #E5E5E5;
}

.noborder{
	border: 0;
}

.item-icon{
	width: 60px;
	height: 60px;
	margin-left: 27px;
	display: inline-block;
	background: url(../img/sprite_index_icon.png);
	background-position: 0 0;
	
}

.item-words{
	text-align: center;
	font-size: 14px;
	color: #333333;
}

.i2{
	background-position: 0 -62px;
}

.i3{
	background-position: 0 -124px;
}

.i4{
	background-position: 0 -184px;
	border: 0;
}

.i5{
	background-position: 0 -240px;
}

.i6{
	background-position: 0 -300px;
}

.i7{
	background-position: 0 -360px;
}

.i8{
	background-position: 0 -420px;
}

.i9{
	background-position: 0 -480px;
}

.i10{
	background-position: 0 -540px;
}

.i11{
	background-position: 0 -600px;
}

/*模块二*/
.bgcolor{
	width: 100%;
	height: 681px;
	background-color: #F5F5F5;
}

.main-word2{
	float: left;
	width: 537px;
	height: 266px;
	margin-top: 80px;
	display: none;
}

.main-img2{
	float: right;
	width: 449px;
	height: 600px;
	position: relative;
}

.mobile2{
	display: none;
}

.mobile2-content1{
	position: absolute;
	top: 80px;
	left: 32px;
	display: none;
}

.mobile2-limg{
	background: url(../img/sprite_star.png);
	position: absolute;
	width: 150px;
	height: 150px;
	background-position: 0 0;
	left: -132px;
	top: 310px;
	display: none;
}

.img2{
	background-position: 0 150px;
	left: 325px;
	top: 335px;
}

.img3{
	background-position: 0 300px;
	left: -70px;
	top: 75px;
}

.img4{
	background-position: 0 450px;
	left: 320px;
	top: 60px;
}

.img5{
	background-position: 0 600px;
	left: 175px;
	top: 240px;
}

/*模块三*/
.main-img3{
	float: left;
	width: 446px;
	height: 500px;
	margin-top: 50px;
	background: url(../img/circle.png) no-repeat;
	position: relative;
}

.mobile3{
	position: absolute;
	top: 45px;
	left: 20px;
	display: none;
}

.main-word1{
	float: right;
	width: 460px;
	height: 242px;
	margin-top: 85px;
	display: none;
}

/*模块四*/
.main-img4{
	float: right;
	width: 446px;
	height: 500px;
	margin-top: 72px;
	background: url(../img/circle.png) no-repeat;
	position: relative;
}

.main-word4{
	float: left;
	width: 425px;
	height: 266px;
	margin-top: 80px;
	margin-left: 70px;
	display: none;
}

.bottom{
	width: 1094px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-title{
	text-align: center;
	margin: 70px 0;
	font-size: 36px;
	color: #E5E5E5;
}

.bottom-title2{
	color: #000;
	font-size: 36px;
}

.bottom-li{
	width: 520px;
	height: 124px;
	float: left;
	margin-right: 27px;
	margin-bottom: 50px;
	
}

.bottom-li-img{
	width: 124px;
	height: 124px;
	float: left;
	
}

.bottom-li-img1{
	width: 124px;
	height: 124px;
	border-radius: 50%;
	
}

.bottom-li-words{
	width: 360px;
	height: 80px;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}

.bottom-li-words1{
	font-size: 18px;
	color: #000;
}

.bottom-li-words1:hover{
	color: #31C27C;
}

.bottom-li-words2:hover{
	color: #31C27C;
}
.bottom-li-words2{
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
	color: #000;
}
.bottom-li-words1:hover .bottom-li-words2{
	color: #31C27C;
}
.btn2{
	border: 2px solid #000;
	background-color: #FFF;
	margin-top: 30px;
}

.btn2:hover{
	border: 2px solid #000;
	color: #31C27C;
}

.bottom-btn{
	width: 280px;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
}

