*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: black;
}
p{
	font-size: 15px;
}
a:hover{
	color: darkseagreen;
}
.top{
    height: 144px;
    width: 100%;
    position: relative;
}
.img{
	width: 172px;
	height: 48px;
	margin: 21px 0;
	float: left;
}
.shouye{
	margin-left: 179px;
}
.list{
	width: 1201px;
	height: 90px;
	margin: 0 auto;
}
.list li{
	float: left;
}
.list a{
	font-size: 18px;
	padding: 0 20px;
	text-align: center;
	line-height: 90px;
	color: #000;
}
.sousuo{
	width: 190px;
	height: 34px;
	border-radius: 5px;
	border: 1px solid darkgrey;
	padding-left: 10px;
	margin-left: 30px;
	margin-right: -40px;
	margin-top: 28px;
}
.bnt1,.bnt2{
	width: 111px;
	height: 38px;
	color: #fff;
	background-color: #31C27C;
	border: 0;
	margin: 27px 5px;
	border-radius: 5px;
}
.bnt2{
	width: 85px;
	color: #000;
	border: 1px solid darkgrey;
	background-color: #fff;
}
.list span{
	width: 23px;
	height: 21px;
	background-image: url(../img/icon_sprite.png);
	background-position: 5px -36px;
	display: inline-block;
	position: absolute;
	left: 1072px;
	top: 35px;
}
.list a:hover{
	color: #31C27C;
}
.list span:hover{
	background-position: 5px -56px;
}
.bnt1:hover{
	background-color: #2CAF6F;
}
.bnt2:hover{
	background-color: #EDEDED;
}
.topdown{
	width: 100%;
	height: 50px;
}
.topdown ul{
	margin-left: 300px;
}
.topdown li{
	float: left;
	margin-right: 40px;
}
.content{
	margin: 0 auto;
}

.content1{
	width: 100%;
	height: 531px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top1{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	
}
.word1{
	margin: 0 auto;
	width: 80%;
	height: 30px;
}
.word1 ul{
	margin-left: 300px;
}
.word1 li{
	float: left;
	margin-right: 60px;
}
.main{
	margin: 0 auto;
	width: 90%;
	height: 389px;
}
.main1{
	width: 1200px;
	height: 310px;
	margin: 0 auto;
	overflow: hidden;
}
.main:hover .leftblock{
	opacity: .5;
}
.main:hover .rightblock{
	opacity: .5;
}
.leftblock{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 190px;
	left: 0;
	z-index: 3;
	background-color: gainsboro;
	opacity: 0;
}
.rightblock{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 190px;
	right: 0;
	background-color:  gainsboro;
	opacity: 0;
	z-index: 3;
}
.pic{
	width: 220px;
	height: 220px;
	overflow: hidden;
	position: relative;
}
.img1{
	transform: scale(1);
	transition: all 1.5s;
}
.mask{
	position: absolute;
	top: 77px;
	left:74px;
	opacity: 0;
	transition: all 1s; 
}
.pic:hover .mask{
	opacity: 1;
}
.pic:hover .img1{
	transform: scale(1.4);
}
.read{
	color: darkgray;
	font-size: 14px;
}
.display{
	width: 2400px;
	transition: all 1s;
}

.display li{
	float: left;
	margin-right: 20px
}
.yuanuqan{
	width:100%;
	margin: 0 auto;
	height: 50px;
}
.yuanuqan ul{
	margin-left: 600px;
}
.yuanuqan li{
	font-size: 25px;
	color: gray;
	list-style-type: disc;
	margin-right: 40px;
	float: left;
	opacity: .3;
}
.yuanuqan .on{
    color: gray;
    opacity: 1;
}
.content2{
	width: 100%;
	height: 580px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top2{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic2{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	background-position: 0 -36px;
}
.word2{
	margin: 0 auto;
	width: 80%;
	height: 30px;
}
.word2 ul{
	margin-left: 400px;
}
.word2 li{
	margin-right: 70px;
	float: left;
}
.main2{
	margin: 20px auto 0 auto;
	width: 90%;
	height: 360px;
}
.main2:hover .leftblock2{
	opacity: .5;
}
.main2:hover .rightblock2{
	opacity: .5;
}
.leftblock2{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 255px;
	left: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.rightblock2{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 255px;
	right: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.main22{
	width: 1200px;
	height: 310px;
	margin: 0 auto;
	overflow: hidden;
}
.pic2{
	width: 90px;
	height: 90px;
	position: relative;
}
.mask2{
	position: absolute;
	top: 18px;
	left: 16px;
	opacity: 0;
	transition: all 1s;
}
.pic2:hover .mask2{
	opacity: 1;
}
.pic2 .img2{
	transform: scale(1);
	transition: all 1s; 
}
.pic2:hover .img2{
	transform: scale(1.3);
}
.mask2 img{
	height: 55px;
	width: 55px;
}
.word3,.word31{
	position: absolute;
	top: 25px;
	left: 100px;
}
.word31{
	top: 50px;
	color: gray;
}
.word32{
	position: absolute;
	top: 30px;
	right: 0;
	color: gray;
}
.li1{
	display: block;
	height: 96px;
	width:411px;
	position: relative;
}
.display2 li{
	float: left;
}
.display2{
	width: 4932px;
	transition: all 1s;
}
.yuanquan2 ul{
	margin-left: 500px;
}
.yuanquan2 li{
	float: left;
	list-style-type: disc;
	font-size: 25px;
	margin-left: 40px;
	color: gray;
	opacity: .3;
}
.yuanquan2 .on{
	color: gray;
    opacity: 1;
}
.content3{
	width: 100%;
	height: 450px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top3{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic3{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	background-position: 0 -87px;
}
.main3{
	margin:0 auto;
	width: 90%;
	height: 310px;
}
.main3:hover .leftblock3{
	opacity: .5;
}
.main3:hover .rightblock3{
	opacity: .5;
}
.leftblock3{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 220px;
	left: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.rightblock3{
	opacity: 0;
	height: 150px;
	width: 100px;
	position: absolute;
	top: 220px;
	right: 0;
	background-color: gainsboro;
	z-index: 3;
}
.main33{
	width: 1200px;
	height: 280px;
	margin: 0 auto;
	overflow: hidden;
}
.display3{
	width: 4816px;
	transition: all 1s;
}
.display3 li{
	float: left;
}
.img3{
	height: 260px;
	width: 602px;
}
.yuanquan3 li{
	float: left;
	list-style-type: disc;
	font-size: 25px;
	margin-left: 40px;
	color: gray;
	opacity: .3;
}
.yuanquan3 .on{
	color: gray;
    opacity: 1;
}
.yuanquan3 ul{
	margin-left: 550px;
}
.content4{
	width: 100%;
	height: 760px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top4{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic4{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	background-position: 0 -135px;
}
.main4{
	margin:0 auto;
	width: 90%;
	height: 560px;
}
.main4:hover .leftblock4{
	opacity: .5;
}
.main4:hover .rightblock4{
	opacity: .5;
}
.leftblock4{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 324px;
	left: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.rightblock4{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 324px;
	right: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.main44{
	width: 1200px;
	height: 530px;
	margin: 0 auto;
	overflow: hidden;
}
.display4{
	width: 4816px;
	transition: all 1s;
}
.display4 li{
	float: left;
	margin-left: 20px;
}
.yuanquan4 li{
	float: left;
	list-style-type: disc;
	font-size: 25px;
	margin-left: 40px;
	color: gray;
	opacity: .3;
}
.yuanquan4 .on{
	color: gray;
    opacity: 1;
}
.yuanquan4 ul{
	margin-left: 550px;
}
.content5{
	width: 100%;
	height: 660px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top5{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic5{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	background-position: 0 -188px;
}
.rank{
	width: 91%;
	height: 520px;
	margin: 0 auto;
}
.rank ul{
	margin-left: 101px;
}
.rank li{
	float: left;
	margin-right: 20px;
	
}
.rank img{
	width: 225px;
	height: 503px;
}
.content6{
	width: 100%;
	height: 660px;
	margin: 0 auto;
	background:-webkit-linear-gradient(top,#F3F3F3,white);
	position:relative ;
	overflow: hidden;
}
.top6{
	margin: 0 auto;
	width: 80%;
	height: 85px;
}
.toppic6{
	width: 176px;
	height: 50px;
	margin: 45px auto 0 auto;
	background: url(../img/index_tit.png) no-repeat;
	background-position: 0 -233px;
}
.word6{
	margin: 0 auto;
	width: 80%;
	height: 30px;
}
.word6 ul{
	margin-left: 300px;
}
.word6 li{
	float: left;
	margin-right: 60px;
}
.main6{
	margin:0 auto;
	width: 90%;
	height: 380px;
}
.main6:hover .leftblock6{
	opacity: .5;
}
.main6:hover .rightblock6{
	opacity: .5;
}
.leftblock6{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 245px;
	left: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.rightblock6{
	height: 150px;
	width: 100px;
	position: absolute;
	top: 245px;
	right: 0;
	background-color: gainsboro;
	opacity: 0;
	z-index: 3;
}
.main66{
	width: 1200px;
	height: 340px;
	margin: 0 auto;
	overflow: hidden;
}
.display6{
	width: 2390px;
	transition: all 1s;
}
.pic6:hover .img6{
	transform: scale(1.3);
}
.pic6:hover .mask6{
	opacity: 1;
}
.pic6{
	
	width: 226px;
	height:129px ;
	overflow: hidden;
	position: relative;
}
.img6{
	transform: scale(1);
	transition: all 1s;
}

.mask6{
	opacity: 0;
	position: absolute;
	top: 27px;
	left: 76px;
	transition: all 1s; 
}
.display6 li{
	float: left;
	margin-left:12px;
}
.yuanuqan6{
	width:100%;
	margin: 0 auto;
	height: 50px;
}
.yuanuqan6 ul{
	margin-left: 600px;
}
.yuanuqan6 li{
	font-size: 25px;
	color: gray;
	list-style-type: disc;
	margin-right: 40px;
	float: left;
	opacity: .3;
}
.yuanuqan6 .on{
    color: gray;
    opacity: 1;
}
.footer{
	width: 1590px;
	height: 589px;
	background-color: #333333;
    color: #999;
    clear: both;
}
.foot{
	width: 1200px;
	height: 589px;
    margin: 0 auto;
    position: relative;
}
.footer-up{
	width: 1200px;
	height: 457px;
	position: relative;
}
.footer-down{
	width: 1200px;
	height: 132px;
}
.footer-up1{
	width: 364px;
	height: 330px;
	position: absolute;
    top: 0;
    left: 10px;
}
.footer-up-text{
	font-size: 15px;
    padding: 80px 0 46px;
}
.footer-up1 li{
    float: left;
    position: relative;
    padding-right: 36px;
}
.footer a {
    color: #999;
    font-size: 13px;
}
.footer-up1 li:hover a{
	color: #31C27C;
}
.link{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-image: url(../img/footer.png);
}
.im2{
	background-position: -90px 0;
}
.im3{
	background-position: -184px 0;
}
.im4{
	background-position: -272px 0;
}
.link:hover{
	background-position: 0 -50px;
}
.im2:hover{
	background-position: -90px -50px;
}
.im3:hover{
	background-position: -184px -50px;
}
.im4:hover{
	background-position: -272px -50px;
}
.footer-up2{
	width: 304px;
	height: 286px;
	position: absolute;
    top: 0;
    left: 455px;
}
.footer-up2 li{
    float: left;
    padding-right: 36px;
    padding-bottom: 24px;
}
.footer-up2 li:hover a{
	color: #31C27C;
}
.link1{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-image: url(../img/footer.png);
	background-position: -370px 0;
}
.ig2{
	background-position: -449px 0;
}
.ig3{
	background-position: -560px 0;
}
.link1:hover{
	background-position: -370px -50px;
}
.ig2:hover{
	background-position: -449px -50px;
}
.ig3:hover{
	background-position: -560px -50px;
}
.footer-up3{
	width: 320px;
	height: 337px;
	position: absolute;
    top: 0;
    left: 865px;
}
.footer-up3 li{
    float: left;
    padding-right: 26px;
    padding-bottom: 12px;
    min-width: 79px;
}
.footer-up3 li:hover a{
	color: #31C27C;
}
.footer-up4{
	width: 1190px;
	height: 148px;
	position: absolute;
    top: 230px;
    left: 0;
}
.footer-up4 li{
    float: left;
    padding-right: 40px;
}
.footer-up4 li:hover a{
	color: #31C27C;
}
.footer-down{
	width: 1200px;
	height: 81px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.footer-down p{
	font-size: 10px;
}
.footer-down a:hover {
	color: #31C27C;
}
.mao{
	width: 40px;
	height: 150px;
	position: fixed;
	right: 40px;
	bottom: 10px;
}
.mao li{
	width: 40px;
	height: 40px;
	background-color: #FFFFFF;
	border: 0;
	margin-bottom: 2px;
	text-align: center;
	line-height: 40px;
}
.play{
	background-image: url(../img/icon_sprite.png);
	width: 24px;
	height: 27px;
	display: inline-block;
	background-position: -156px 15px;
}
.play1{
	background-image: url(../img/icon_sprite.png);
	width: 20px;
	height: 24px;
	display: inline-block;
	background-position: -180px 7px;
}
#fan{
	color: black;
	font-size: 14px;
}
.mao{
	z-index: 5;
}
.mao li:hover{
	background-color: #EDEDED;
}
.mao li:hover #fan{
	color: #31C27C;
}

